.heading{
    background-color: yellow;
    font-size: 30px;
 
}
.div{
    background-color: red;
    padding: 5px;
    text-align: justify;
}
#git{
    background-color:blue;
}
#h{
    background-color: aqua;
    padding: 5px;
    color: 50%;
}